.form-container {
  max-width: 400px;
  margin: 1 auto;
  padding: 200px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.label {
  font-weight: bold;
}

.button {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}